.dm-header {
    min-height: 6rem;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 0 0 #f5f5f5;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;

    .dm-brand {
        text-transform: uppercase;

        &__name {
            margin-left: .5rem;
            margin-right: 1rem;

            &,
            a {
                font-size: 1.6rem;
                color: var(--color-link);
                letter-spacing: .15rem;
            }

            &-tagline,
            &-company {
                font-size: .85rem;
                color: var(--color-primary);
                letter-spacing: .05rem;

                margin-right: .25rem;

            }

            &-company {
                color: inherit;
            }
        }
    }
}
