.dm-sidebar {

    &--left {
        position: sticky;
        border-right: solid 1px #d2d2d2;
        top: 6rem;
        z-index: 999;
        height: calc(100vh - 6rem);
        padding: var(--padding);
        padding-top: var(--padding-half);
    }

    ul {
        padding-top: 5px;

        li {
            padding: 5px 0;

            font-size: 1.3rem;
            font-weight: 600;

            li {
                font-size: 1.2rem;
                font-weight: 400;
            }
        }
    }

    .router-link-active {
        color: var(--color-primary);
        font-weight: 600;
    }
}
