.dm-code {
    border: solid 1px #d2d2d2;

    &__example {
        padding: var(--padding);
    }

    &__raw {
        code {
            padding: var(--padding);
            font-size: 1.4rem;
            line-height: 2.4rem;
        }
    }
}