<template>
  <main class="dm-content">
    <div class="row">
      <div class="column-2 dm-sidebar dm-sidebar--left">
        <ul>
          <li>
            <a>Components</a>
            <ul>
              <li>
                <router-link to="/grid-layout">Grid Layout</router-link>
              </li>
              <li>
                <router-link to="/buttons">Buttons</router-link>
              </li>
              <li>
                <router-link to="/modal">Modal</router-link>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="column-10 pa-2 dm-content">
        <h1 class="h1">{{ $route.name }}</h1>

        <router-view></router-view>
      </div>
    </div>
  </main>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class AppContent extends Vue {}
</script>