<template>
  <footer class="dm-footer">
    Copyright Redi2 Technologies, Inc. 2020
  </footer>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {
  },
})
export default class AppFooter extends Vue {

}
</script>