<template>
  <header class="dm-header">
    <div class="container">
      <div class="row">
        <div class="column">
          <div class="dm-brand">
            <span class="dm-brand__name">
              <router-link to="/">CSS Framework</router-link>
            </span>
            <span class="dm-brand__name-tagline">Developed For</span>
            <span class="dm-brand__name-company">Redi2</span>
          </div>
        </div>
        <div class="column"></div>
      </div>
    </div>
  </header>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class AppHeader extends Vue {}
</script>