<template>
  <div class="dm-code">
    <div class="dm-code__example" v-html="rawHtml"></div>
    <div class="dm-code__raw">
      <highlight-code>{{ rawHtml }}</highlight-code>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: {},
})
export default class Buttons extends Vue {
  rawHtml = `
    <button type="button" class="btn btn--primary">Primary</button>
    <button type="button" class="btn btn--secondary">Secondary</button>
    <button type="button" class="btn btn--light">Light</button>
    <button type="button" class="btn btn--animated">Animated</button>
    <button type="button" class="btn btn--inline">Inline</button>
  `;
}
</script>
