<template>
  <div class="home">
    <p>In the spirit of introducing standardization, reusability, and maintainability of Redi2 CSS code for all future Redi2 products, we introduce common CSS framework.</p>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: {},
})
export default class Home extends Vue {
  rawHtml = `
    <button type="button" class="btn btn--primary">Primary</button>
    <button type="button" class="btn btn--secondary">Secondary</button>
    <button type="button" class="btn btn--light">Light</button>
    <button type="button" class="btn btn--animated">Animated</button>
    <button type="button" class="btn btn--inline">Inline</button>
  `;
}
</script>
