<template>
  <div id="app">
    <AppHeader />

    <AppContent />

  </div>
</template>

<script lang="ts">
import { Component, Inject, Vue } from "vue-property-decorator";

import AppHeader from "@/components/layout/AppHeader.vue";
import AppContent from "@/components/layout/AppContent.vue";
import AppFooter from "@/components/layout/AppFooter.vue";

@Component({
  components: { AppHeader, AppContent, AppFooter }
})
export default class App extends Vue {

}
</script>